<div class="container-fluid">
	<div class="row">
      <img src="main.jpg" class="img-responsive center-block">
  </div>
  <div class="row">
      <div class="col-md-12 registration">
        <br>
        <br>
	<a role="button" href="https://ageingforum2017.timepad.ru/event/573611/" class="btn btn-lg btn-success center-block hidden-sm hidden-sx"><b>РЕГИСТРАЦИЯ</b></a>
	<a class="btn btn-lg btn-success btn-block hidden-lg hidden-md" href="https://ageingforum2017.timepad.ru/event/573611/" role="button"><br><b>РЕГИСТРАЦИЯ</b><br><br></a>
        <br>
        <br>
        <br>
      </div>
  </div>
  <div class="row hidden-sm">
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <h4>Организатор проекта</h4>
        </div>
        <div class="row">
          <a href="https://www.ageing-forum.org/ru/"><img src="logo17.png" class="img-responsive"></a>
          <br>
        </div> <!-- Общество -->
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- Artist -->
        <div class="row">
          <h4>Cooрганизатор</h4>
        </div>
        <div class="row">
          <a href="http://www.fond-artist.ru/"><img src="artist.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- тимченко -->
        <div class="row">
          <h4>При поддержке</h4>
        </div>
        <div class="row">
          <a href="http://timchenkofoundation.org/"><img src="timchenko.jpg" class="img-responsive"></a>
          <br>
        </div> 
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- райффайзен -->
        <div class="row">
          <h4>Официальный партнер</h4>
        </div>
        <div class="row">
          <a href="https://www.raiffeisen.ru/"><img src="raiffaisen.jpg" class="img-responsive"></a>
          <br>
        </div> 
      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="row hidden-sm">
    <div class="col-md-3">
      <div class="container-fluid"><!-- PRP -->
        <div class="row">
          <h4>Координатор проекта</h4>
        </div>
        <div class="row">
          <a href="http://prp.ru/"><img src="logo-prp.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- Третьяковка -->
        <div class="row">
          <h4>Партнер</h4>
        </div>
        <div class="row">
          <a href="http://volkhonkamansion.ru/"><img src="volhonka.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid"><!-- Gett -->
        <div class="row">
          <h4>Организационный партнер</h4>
        </div>
        <div class="row">
          <a href="https://gett.com/ru/business/?utm_medium=talks&utm_source=event&utm_campaign=rub2b"><img src="gett.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid">
        <div class="row">
          <h4>Организатор проекта</h4>
        </div>
        <div class="row">
          <a href="https://www.ageing-forum.org/ru/"><img src="logo17.png" class="img-responsive"></a>
          <br>
        </div> <!-- Общество -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid"><!-- Artist -->
        <div class="row">
          <h4>Cooрганизатор</h4>
        </div>
        <div class="row">
          <a href="http://www.fond-artist.ru/"><img src="artist.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid"><!-- тимченко -->
        <div class="row">
          <h4>При поддержке</h4>
        </div>
        <div class="row">
          <a href="http://timchenkofoundation.org/"><img src="timchenko.jpg" class="img-responsive"></a>
          <br>
        </div> 
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid"><!-- райффайзен -->
        <div class="row">
          <h4>Официальный партнер</h4>
        </div>
        <div class="row">
          <a href="https://www.raiffeisen.ru/"><img src="raiffaisen.jpg" class="img-responsive"></a>
          <br>
        </div> 
     </div>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid"><!-- PRP -->
        <div class="row">
          <h4>Координатор проекта</h4>
        </div>
        <div class="row">
          <a href="http://prp.ru/"><img src="logo-prp.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid"><!-- Третьяковка -->
        <div class="row">
          <h4>Партнер</h4>
        </div>
        <div class="row">
          <a href="http://volkhonkamansion.ru/"><img src="volhonka.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row  hidden-md hidden-lg">
    <div class="col-sm-6">
      <div class="container-fluid"><!-- Gett -->
        <div class="row">
          <h4>Организационный партнер</h4>
        </div>
        <div class="row">
          <a href="https://gett.com/ru/business/?utm_medium=talks&utm_source=event&utm_campaign=rub2b"><img src="gett.png" class="img-responsive"></a>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      
    </div>
  </div>
</div>
