<div class="row main">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<h3>Партнеры</h3>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="https://www.ageing-forum.org/ru/"><img src="logo17.png" class="img-responsive"></a>
			</div>
			<div class="col-sm-8 offset-md-1">
				<h4><strong>Организатор:</strong> оргкомитет конференции «Общество для всех возрастов»</h4>
				<p class="text-justify">В 2017 году конференция «Общество для всех возрастов» пройдет в пятый раз. С 2013 года её участники – представители органов власти, бизнеса, некоммерческих и общественных организаций, российские и международные эксперты и СМИ, ежегодно встречаются, чтобы обменяться практическим опытом улучшения качества жизни пожилых людей. Результаты этой работы вносят реальный вклад в развитие системы поддержки пожилых людей на уровне государства.</p>
			</div>
		</div>
		<div class="row">
			<br>
			<br>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="http://www.fond-artist.ru/"><img src="artist.png" class="img-responsive"></a>
			</div>
			<div class="col-sm-8 offset-md-1">
				<h4><strong>Соорганизатор:</strong> Благотворительный фонд поддержки деятелей искусства «Артист»</h4>
				<p class="text-justify">Благотворительный фонд поддержки деятелей искусства «Артист» учрежден в 2008 году народным артистом России Евгением Мироновым, заслуженной артисткой РФ Марией Мироновой, народным артистом России Игорем Верником и продюсером Натальей Шагинян-Нидэм. Миссия Фонда – адресная помощь ветеранам-деятелям искусства, оказавшимся в сложной жизненной ситуации.</p>
			</div>
		</div>
		<div class="row">
			<br>
			<br>
		</div>
		<div class="row">
                        <div class="col-sm-3">
                                <a href="http://timchenkofoundation.org/"><img src="timchenko2.jpg" class="img-responsive"></a>
                        </div>
                        <div class="col-sm-8 offset-md-1">
                                <h4><strong>Ключевой партнер:</strong> Благотворительный фонд Елены и Геннадия Тимченко</h4>
                                <p class="text-justify">Благотворительный фонд Елены и Геннадия Тимченко один из крупнейших семейных фондов в России. Семья Тимченко занимается благотворительностью в России и за рубежом более 25 лет. В 2010 году с целью достижения долгосрочных результатов семейной благотворительности был создан Фонд Тимченко, программы которого реализуются с фокусом на развитии малых территорий. Деятельность Фонда направлена на поддержку активного долголетия, развитие непрофессионального детского спорта, решение проблемы социального сиротства, развитие регионов России средствами культуры, международное гуманитарное сотрудничество.</p>
                        </div>
                </div>
                <div class="row">
                        <br>
                        <br>
                </div>
		<div class="row">
			<div class="col-sm-3">
				<a href="https://www.raiffeisen.ru/"><img src="raiffaisen.jpg" class="img-responsive"></a>
			</div>
			<div class="col-sm-8 offset-md-1">
				<h4><strong>Официальный партнер:</strong> АО «Райффайзенбанк»</h4>
				<p class="text-justify">АО «Райффайзенбанк» является дочерней структурой Райффайзен Банк Интернациональ АГ. АО «Райффайзенбанк» занимает 14-е место по размеру активов по итогам первого полугодия 2017 года («Интерфакс-ЦЭА»). Согласно данным «Интерфакс-ЦЭА» АО «Райффайзенбанк» находится на 10-м месте в России по объему средств частных лиц и 7-м месте по объему кредитов для частных лиц по результатам первого полугодия 2017 года.</p>
			</div>
		</div>
		 <div class="row">
			<br>
			<br>
			<br>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="http://volkhonkamansion.ru/"><img src="volhonka2.png" class="img-responsive"></a>
			</div>
			<div class="col-sm-8 offset-md-1">
				<h4><strong>Партнер:</strong> Особняк на Волхонке</h4>
				<p class="text-justify">Это удивительное место, где гармонично сочетаются история и современность. Это один из самых красивых реконструированных особняков XVIII века, бывшее здание Первой мужской гимназии. Расположился в самом центре Москвы, напротив Храма Христа Спасителя, по соседству с ГМИИ им. А.С. Пушкина, в 3 минутах от метро Кропоткинская. Сегодня это прекрасное место для проведения мероприятий, отвечающее всем современным требованиям и, в то же время, сохранившее исторический дух.</p>
			</div>
		</div>
		<div class="row">
			<br>
			<br>
			<br>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<a href="https://gett.com/ru/business/?utm_medium=talks&utm_source=event&utm_campaign=rub2b"><img src="gett.png" class="img-responsive"></a>
			</div>
			<div class="col-sm-8 offset-md-1">
				<h4><strong>Организационный партнер:</strong> Gett</h4>
				<p class="text-justify">Gett – международный мобильный сервис по заказу такси и экспресс-доставки для частных и корпоративных клиентов. Компания работает более чем в 100 городах мира, включая Лондон, Москву, Санкт-Петербург и Нью-Йорк и предоставляет пользователям неизменно высокое качество сервиса.<br>
Являясь лидером на корпоративном рынке, Gett предлагает решение с полным циклом, позволяющее оптимизировать ресурсы и затраты и максимально автоматизировать процесс заказа такси и услуг экспресс-доставки.</p>
			</div>
		</div>
		<div class="row">
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
	
		
