<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h3>По всем интересующим вопросам обращайтесь, пожалуйста, по следующим контактам:</h3>
			<br>
		</div>
	</div>
	<div class="row contacts2">
		<div class="col-sm-12 col-md-4">
			<div class="row">
				<div class="col-sm-12">
					<p>Анна Беляева</p>
                        		<p><span class="glyphicon glyphicon-phone"></span> +7 (985) 411-60-67</p>
                        		<p><span class="glyphicon glyphicon-envelope"></span> ABelyaeva@prp.ru</p>
                        		<br>
				</div>
			</div>
		</div>
                <div class="col-sm-12 col-md-4">
			<div class="row">
				<div class="col-sm-12">
					<p>Анастасия Щищенко</p>
		                        <p><span class="glyphicon glyphicon-phone"></span> +7 (918) 005-72-82</p>
                		        <p><span class="glyphicon glyphicon-envelope"></span> AShishchenko@prp.ru</p>
                        		<br>
				</div>
			</div>
                </div>
	</div>
	<div class="row contacts2">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-12">
					<p><span class="glyphicon glyphicon-envelope"></span> ageingforum2017@gmail.com</p>
				</div>
			</div>
		
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
	<br>
        <br>
        <br>
        <br>
	<br>
</div>

