<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 main">
			<h3>В ходе бесед «Возраст как искусство» звезды театра и кино обсудят особенности зрелого возраста, его преимущества и возможности.</h3>
			<br>
			<br>
			<p class="text-justify">Известные актеры поделятся личным опытом и мыслями о серебряном возрасте. Расскажут, как ощущают и видят себя в нем, какие позитивные стороны он открывает, и как оставаться активными и успешными в профессиональном и социальном плане.</p>
			<p class="text-justify">Участие в первой беседе примут народный артист РСФСР и СССР Юрий Соломин, народная артистка РСФСР Валентина Талызина, заслуженная артистка РСФСР Светлана Светличная, народный артист РСФСР Всеволод Шиловский. </p>
			<p class="text-justify">Мероприятие проходит в рамках специального проекта V Национальной конференции «Общество для всех возрастов» при организационном участии благотворительного фонда поддержки деятелей искусства  «Артист» и поддержке Благотворительного фонда Елены и Геннадия Тимченко, Райффайзенбанка, особняка на Волхонке, Gett.</p>
		</div>
		<div class="col-sm-5 col-offset-1">
			<img src="talk.png" class="img-responsive">
		</div>
	</div>
	 <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
</div>
